@media (max-width: 768px) {
  .navbar {
    gap: var(--s-12);
  }
  .mobile-nav-link:link,
  .mobile-nav-link:visited {
    font-weight: var(--fw-medium);
    font-size: var(--fs-24);
  }
  .nav-links {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 100svh;
    z-index: 9999;
    transform: translateX(100%);
    background-color: var(--white);
    transition: all 0.6s;
  }
  .nav-links.display {
    transform: none;
    transition: all 0s;
  }
  #desktop-cta-btn {
    display: none;
  }
  #mobile-cta-btn {
    display: inline-block;
  }
  .mobile-menu-btn {
    display: block;
  }
  .mobile-menu-close-btn {
    display: block;
  }
  .hero {
    flex-direction: column;
    gap: var(--s-64);
  }
  .hero-img-side,
  .hero-img-side img {
    width: 100%;
    height: 439px;
  }
  .hero-img-side img {
    object-fit: cover;
    object-position: center;
  }
  .features-section-body {
    flex-direction: column;
  }
  .features-section-right,
  .features-section-right img {
    width: 100%;
  }
  .blog-preview-cards {
    grid-template-columns: 1fr;
  }
  .clients-grid {
    grid-template-columns: 1fr 1fr;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    gap: var(--s-32);
  }
}

@media (max-width: 576px) {
  .hero-txt h1 {
    font-size: var(--fs-36);
  }
  section {
    padding: var(--s-46) 0;
  }
  .section-title {
    font-size: var(--fs-24);
  }
  .plan-features {
    flex-direction: column;
  }
  .cta-title {
    font-size: var(--fs-24);
  }
  .cta-body {
    background-image: none;
  }
  .cta-form {
    flex-direction: column;
  }
  .cta-form input {
    width: 100%;
  }
  .clients-grid {
    grid-template-columns: 1fr;
    gap: var(--s-40);
  }
  .footer-links {
    grid-template-columns: 1fr 1fr;
    row-gap: var(--s-64);
  }
  .copyright {
    flex-direction: column;
    align-items: center;
    gap: var(--s-32);
    text-align: center;
  }
}
