@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .hero {
    flex-direction: column;
    gap: var(--s-64);
  }
  .hero-img-side,
  .hero-img-side img {
    width: 100%;
    height: 439px;
  }
  .hero-img-side img {
    object-fit: cover;
    object-position: center;
  }
  .features-section-body {
    flex-direction: column;
  }
  .features-section-right,
  .features-section-right img {
    width: 100%;
  }
  .blog-preview-cards {
    grid-template-columns: 1fr;
  }
  .clients-grid {
    grid-template-columns: 1fr 1fr;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    gap: var(--s-32);
  }
}

@media (max-width: 576px) {
  .cta-body {
    background-image: none;
  }
  .clients-grid img {
    transform: scale(0.8);
  }
  .footer-links {
    grid-template-columns: 1fr 1fr;
    row-gap: var(--s-64);
  }
  .copyright {
    flex-direction: column;
    align-items: center;
    gap: var(--s-32);
  }
}
